/*@import "@radix-ui/colors/blue.css";*/
/*@import "@radix-ui/colors/amber.css";*/
/*@import "@radix-ui/colors/green.css";*/
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/olive.css";
/*@import "@radix-ui/colors/orange-dark.css";*/
/*@import "@radix-ui/colors/red-dark.css";*/

:root {
	--sl-color-accent-low: var(--lime-12);
	--sl-color-accent: var(--lime-9);
	--sl-color-accent-high: var(--lime-10);
  --sl-color-text: var(--gray-6);
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eaf0e8;
	--sl-color-gray-2: #bdc4bb;
	--sl-color-gray-3: #82907f;
	--sl-color-gray-4: #4f5c4d;
	--sl-color-gray-5: #303c2d;
	--sl-color-gray-6: var(--olive-12);
	--sl-color-black: black;
}

/*Logo*/
.astro-m46x6ez3 {
  width: 120px;
}

.content-panel:where(.astro-7nkwcw3z)+.content-panel:where(.astro-7nkwcw3z) {
  border-top: 0;
}

.right-sidebar {
  border-left: none;
  padding-top: 100px;
  padding-left: 5%;
}

.sl-markdown-content img {
  border-radius: 10px;
}
